{% extends 'nav.html'  %}

    {% block content %}

  <div class="despliegue">

    <h1>Opciones de Torneo</h1>

  </div>

  <div class="cont-menu">
  
    <ul class="menu">
      <li ><a href="#"><i class="icono fa-solid fa-futbol"></i>Crear Torneo</a>
        <ul>
          <li><a href="#">Crear</a>
        </ul>
      </li>
      <li ><a href="#"><i class="icono fa-solid fa-eye"></i>Visualizar Torneo</a>
        <ul>
          <li><a href="#">Tabla</a>
          <li><a href="#">Estadisticas</a>
        </ul>
      </li>
      <li ><a href="#"><i class="icono fa-solid fa-pen-to-square"></i>Editar Torneo</a>      
        <ul>
          <li><a href="#">Equipos</a>
        </ul>
      </li>
    </ul>
  </div>

    {% endblock %}
