{% extends 'nav.html'  %}


    {% block content %}
<div class="agrupar">
  <div class="despliegue">

    <h3>Opciones de Torneo</h3>

  </div>

  <div class="cont-menu">
  
    <ul class="menu">
      <li ><a href="#"><i class="icono fa-solid fa-futbol"></i>Crear Torneo</a>
        <ul>
          <li><a href="#" onclick="mostrarFormulario('crear')">Crear Torneo</a></li>
        </ul>
      </li>
      <li ><a href="#"><i class="icono fa-solid fa-eye"></i>Visualizar Torneo</a>
        <ul>
          <li><a href="/stats">Tabla</a>
          <li><a href="/mostrar_goles">Estadisticas</a>
        </ul>
      </li>
      <li ><a href="#"><i class="icono fa-solid fa-pen-to-square"></i>Editar Torneo</a>      
        <ul>
          <li><a href="#" onclick="mostrarFormulario('editar')">Editar Torneo</a></li>
          <li><a href="#" onclick="mostrarFormulario('agregar')">Agregar jugadores</a></li>
          <li><a href="#" onclick="mostrarFormulario('agregargoles')">Agregar Goles</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="container">

<div id="crear" class="formularios">
    
  <div class="ordenar">
    <h2>Formulario para Crear Torneo</h2>

  <form id="equipoForm" action="/crear" method="post">
    <label for="nombreTorneo">Nombre del Torneo</label>
    <input type="text" id="nombreTorneo" name="nombreTorneo" required>

    <label for="numEquipos">Número de Equipos:</label>
    <input type="number" id="numEquipos" name="numEquipos" min="4" max="16" required>
    <button type="button" onclick="generarCampos()">Generar Campos</button>

    <div class="ordenargenerados">
    <div id="equiposContainer"></div>
    </div>

    <button class="boton" type="submit">Enviar</button>

</form>
</div>
<script>
function generarCampos() {
  var numEquipos = document.getElementById("numEquipos").value;
  var container = document.getElementById("equiposContainer");
  container.innerHTML = ""; // Limpiar el contenedor antes de generar los campos

  for (var i = 1; i <= numEquipos; i++) {
      var label = document.createElement("label");
      label.textContent = "Nombre del Equipo " + i + ":";
      
      var input = document.createElement("input");
      input.type = "text";
      input.name = "equipo" + i;

      container.appendChild(label);
      container.appendChild(input);

  }
}
</script>

</div>

<div id="editar" class="formularios">

  <h2>Formulario para Editar Torneo</h2>

  <div class="editform">

      <div class="idtorneo">
    <form id="idtorneo" action="/idtorneo" method="post">

      <label for="id_torneo">ID del torneo</label>
      <input type="number" id="id_torneo" name="id_torneo"  required>

      <button class="boton" type="submit">Enviar</button>
  
   </form>
    </div>


  <form id="editarform" action="/editar" method="post">

    <label for="id_partido">ID del partido</label>
    <input type="number" id="id_partido" name="id_partido"  required>
  
    <label for="goles_local">Goles Local</label>
    <input type="number" id="goles_local" name="goles_local" required>
  
    <label for="goles_visitante">Goles visitante</label>
    <input type="number" id="goles_visitante" name="goles_visitante" required>
  
    <button class="boton" type="submit">Enviar</button>
  
  </form>

  </div>

  <div class="listado">
  <table>
      <thead>
          <tr>
            <th>ID Partido</th>
            <th>Equipo Local</th>
            <th>Equipo Visitante</th>
          </tr>
      </thead>
      <tbody>
        {% for id,partido1,partido2 in partidos %}
          <tr>
            <td>{{id}}</td>
            <td>{{partido1}}</td>
            <td>{{partido2}}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>

</div>

</div>

<div id="agregar" class="formularios">

  <h2>Formulario para Agregar jugadores</h2>

  <div class="jugadores">
  <form id="idjugador" action="/idjugador" method="post">

    <div class="arreglarid">
    <label for="id_equipo">ID del Equipo</label>
    <input type="number" id="id_equipo" name="id_equipo"  required>
    </div>

    <label for="nombre_jugador">Nombre del jugador</label>
    <input type="text" id="nombre_jugador" name="nombre_jugador"  required>

    
    <div class="arreglarboton">
    <button class="boton" type="submit">Enviar</button>
   </div>
 </form>

  </div>

</div>

<div id="agregargoles" class="formularios">

  <h2>Formulario para Agregar Goles</h2>

  <div class="golesjugador">
  <form id="golesjugador" action="/golesjugador" method="post">

    <div class="arreglaridgoles">
    <label for="id_equipo">ID Equipo</label>
    <input type="number" id="id_equipo" name="id_equipo"  required>
    </div>

    <label for="id_jugador">ID Jugador</label>
    <input type="number" id="id_jugador" name="id_jugador"  required>

    <label for="id_torneo">ID Torneo</label>
    <input type="number" id="id_torneo" name="id_torneo"  required>
  
    <label for="goles">Goles</label>
    <input type="number" id="goles" name="goles"  required>
   
    <button class="boton" type="submit">Enviar</button>
   </div>
 </form>

  </div>

</div>

    {% endblock %}
