{% extends 'nav.html'  %}

{% block content %}

<div class="stats">

<h1>Tabla de Posiciones</h1>
<table>
    <thead>
        <tr>
          <th>Club</th>
          
          <th>MP</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>GF</th>
          <th>GA</th>
          <th>GD</th>
          <th>Pts</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>Liverpool</td>
          
          <td>16</td>
          <td>6</td>
          <td>14</td>
          <td>4</td>
          <td>55</td>
          <td>23</td>
          <td>32</td>
          <td>54</td>
        </tr>

    </tbody>
</table>

<h1>Tabla de Goles</h1>
<table>
    <thead>
        <tr>
          <th>Jugador</th>
          <th>Goles</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>Pepe: Liverpool</td>
          <td>2</td>
        </tr>

    </tbody>
</table>






</div>

{% endblock %}