{% extends 'nav.html'  %}

{% block content %}

<div class="stats">

<h1>Tabla de Posiciones</h1>
<table>
    <thead>
        <tr>
          <th>Club</th>
          <th>MP</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>GF</th>
          <th>GA</th>
          <th>GD</th>
          <th>Pts</th>
        </tr>
    </thead>
    <tbody>
      {% for ID_equipo,ID_torneo,gfavor_equipo,gcontra_equipo,Puntos,victorias,derrotas,empates,
        cantidadjugados,dif_goles,nombre_equipo in salida %}
        <tr>
          <td>{{nombre_equipo}}</td>
          <td>{{cantidadjugados}}</td>
          <td>{{victorias}}</td>
          <td>{{derrotas}}</td>
          <td>{{empates}}</td>
          <td>{{gfavor_equipo}}</td>
          <td>{{gcontra_equipo}}</td>
          <td>{{dif_goles}}</td>
          <td>{{Puntos}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}