body {
    background-image: url("img/fondo_imagen.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.barra-nav .nav-link {

  margin-right: 15px;
  color:darkcyan;
  font-size: 18px;

}

.cont-menu{
  margin-top:-5px;
  padding:10px;
  background:aliceblue;
  width: 300px;
  height: 450px;
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
 
}

.cont-menu ul{

  list-style: none;
  text-decoration: none;
  
}

.cont-menu .menu li a{

  display: block;
  padding:15px 5px;
  color:darkcyan;
  list-style: none;
  text-decoration: none;

}

.cont-menu .menu li a:hover{
  color:white

}

.cont-menu .menu .icono{
  font-size: 18px;
  margin-right: 10px;
}

.despliegue{

  text-align: center;
  color:white;
  font-size: 30px;
  margin-bottom: 10px;
  
}

.nav-item:last-child a {
  float: right;
  margin-left: auto;
}

.formularios {
  display: none;
  flex-grow: 1; /* Permite que el formulario crezca para ocupar el espacio restante */
}

/* Utilizar flexbox para alinear los elementos */
.container {
  display: flex;



}

.agrupar{

  display:block;
  margin-right: 150px;
}

.formularios h2{

  color:darkcyan;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;

}

.formularios{


  margin-top:40px;
  padding:10px;
  background:aliceblue;
  width: 400px;
  height: 450px;
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-y:scroll;


}

.ordenar label{

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:darkcyan;
  display:block;


}

.ordenar .boton{

  margin-top:20px;
  margin-left: 275px;
}

.listado table{

  border-collapse: collapse;
  width: 50%;
  margin:auto;
  
}

.listado th, .listado td{

  border: 1px solid rgb(9, 9, 9);
  padding: 3px;
  text-align: left;
  background-color: white;

}

.editform{

  margin-bottom: 15px;

}

.editform input{

  
  width:50px;

}

.editform .idtorneo{

  margin-bottom: 10px;

}

.editform .idtorneo input{

  margin-left: 5px;

}